
/*Overall Body Style*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
/*Overall Body Style END*/






/*Header Style*/
header {
    padding: 20px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline;
    font-size: 48px;
    font-weight: bold;
    margin: 0;

}

header span {
    color: #b0e0fa; /*#d9dcd6*/
}

header nav {
    margin: 10px 0;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color:#ffffff; 
}

header nav ul li {
    display: inline;
    margin: 0 40px;
    font-weight: lighter;
}

/*Header Style END*/






/*Footer style */
footer {
    padding: 10px 15px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: #4C7D9E;
    color:#ffffff;

}

footer h2 {
    font-size: 20px;
}

footer div {
    text-align: center;
    line-height: 1.5;
}
/*Footer style END */






/*Hero style */
.hero {
    background-image: url("../images/digital-marketing-meeting.jpg");
    height: 800px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/*Hero style END */






/* Text-Align  NEED TO ADD IN HTML*/
.text-left {
    text-align: left;
}
    
.text-right {
        text-align: right;
}
/* Text-Align  NEED TO ADD IN HTML END */







/*Content Section style, moved all content styles together */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}


.contents{
    margin: 0 auto 20px auto;
    background-color: #2A607C;
    color: #ffffff;
    overflow: auto;
}


.contents img {
    width: 35%; 
}


.content-info {
    padding: 40px;
    float: left;
    width: 65%;

}


.content-info h2 {
    margin-bottom: 20px;
    font-size: 55px;
    color:#B0E0FA;
    text-shadow: #000000 65px;
}


.content-info p {
    font-size: 25px; 
    line-height: 1.5;
 }


 .img-left {
    float: left;


 }

 .img-right {
    float: right;
 }

/*Content Section style END*/







/* Overall Section & Border Style */
.section-title {
    color:#ffffff;
    font-size: 30px;
    


}

.primary-border {
border-color: #000000;
border-bottom: 1px solid;
padding: 25px 0 15px 0;
margin: auto;

}
/* End Overall Section & Border Style */








/*Benefits Section style */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #96220bb6;
    text-align: center;
}

.benefits div {
    margin-bottom: 10px;

}

.benefits img {
    display: inline-block;
    margin: auto;
    max-width: 160px;
}

.benefits p {
    margin-bottom: 10px;
    color:#ffffff;
    font-size: 20px;
}

/*Benefits Section style END */




